@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Pixelify+Sans&family=Playfair+Display&display=swap');

:root {
    --Grey: #515051;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.contenedor {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----Header----*/

header {
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}

.header-content {
    width: 1280px;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-cont {
    width: 288px;

    display: flex;
    align-items: center;
    gap: 7.33px;
}

.logo {
    color: #FFF;
    font-size: 23.463px;
    font-weight: 400;
    line-height: 35.194px;
}

.nav-bar {

    list-style-type: none;
    display: flex;
    gap: 16px;
}

.nav-btn {
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.nav-btn:hover{
    background-color: rgba(247, 245, 243, 0.10);
}

.tel-btn-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.log-nro {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nro-tel {

    border: none;
    color: white;
    background-color: transparent;
}

.btn-log {
    color: white;
    background: var(--Grey, #515051);
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
}

.bag {
    padding: 2px 3px;
    width: 24px;
    height: 24px;
}

/*----Hero----*/

.hero {
    width: 1280px;
    padding: 48px 40px;
    display: flex;
}

.hero-content {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.hero-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-txt h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #2A5B45;
}

.hero-txt h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}

.hero-txt p {
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.botones {
    display: flex;
    gap: 16px;
}

.hero-txt button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: white;
}

.hero-txt button:first-child {
    background-color: #1F1815;
}

.hero-txt button:last-child {
    background-color: #2A5B45;
}

.hero-img {
    width: 100%;
    height: 390px;
    border-radius: 20px;
    background: url(./assets/hero-img.jpeg);
    background-size: cover;
}

/*----CARDS----*/

.cards {
    width: 1280px;
    padding: 48px 147px;
    background: url(./assets/background-cards.jpeg) lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.cards>h2 {
    color: white;
    font-weight: 500;
    line-height: 28px;

}

.cards-content {
    width: 996px;
    display: flex;
    gap: 24px;
}

.card {
    width: 100%;
    padding: 24px;
    border: 1px solid #F7F5F3;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 0px rgba(227, 222, 215, 0.80);
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.img-card {
    width: 64px;
    height: 64px;
    padding: 12px;
    border-radius: 20px;
    background: #2A5B45;
}

.card h3 {
    color: #2B2A2B;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.card p {
    text-align: center;
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

/*----CAFE-CARDS----*/

.cafe-cards {
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cafe-cards h2 {
    color: #2A5B45;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.cafe-content {
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.product-card {
    width: 100%;
    padding: 24px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.product-card:hover{
    background-color: #E3DED7;
    cursor: pointer;
}

.img-cafe {
    width: 219px;
    height: 219px;
}

.product-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.product-price :first-child {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.product-price :last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.añadir {
    padding: 8px;
    color: white;
    background-color: rgba(42, 91, 69, 0.70);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}
.añadir:hover{
    background-color: #2A5B45;
}

.verTodos {
    display: flex;
    gap: 16px;
    align-items: center;
}

.verTodos a {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: black;
}

/*----FAQ----*/

.faq {
    width: 1280px;
    background-color: #2A5B45;
    padding: 48px 386px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.faq>h2 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.faq-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-cards {
    padding: 24px;
    background: white;
    border-radius: 10px;
    width: 668px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-title {
    display: flex;
    justify-content: space-between;
}

.faq-title>h3 {
    color: #2B2A2B;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.flechaInvert {
    transform: scaleY(-1);
}

.faq-cards span {
    width: 100%;
    height: 1px;
    background: #E3DED7;
}

.faq-cards p {
    color: #2B2A2B;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.faq-next {
    display: flex;
    align-items: center;
    gap: 16px;
}

.faq-next a {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: rgb(255, 255, 255);
}

.faq-next>img {
    color: white;
}

/*----FEATURE----*/

.feature {
    height: 480px;
    padding: 45px 40px;

    display: flex;
    justify-content: center;
}

.feature-content {
    width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-left {
    width: 457px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.feature-left>h2 {
    color: #2A5B45;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.feature-left>p {
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.comoLlegar {
    width: 118px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.comoLlegar>a {
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.feature-right {
    width: 588px;
    height: 390px;
    border-radius: 20px;
    background: url(./assets/cooffe-shop.jpeg) lightgray 50%;
    background-size: cover;

}

/*----FORMULARIO----*/

.formulario {
    width: 1280px;
    height: 552px;
    background: #E3DED7;
    display: flex;
    justify-content: center;
}

.formulario-content {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.form-left {
    width: 558px;
    height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.form-left-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-left-header>h3 {
    color: #111827;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.form-left p {
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.form-left-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-left-detail {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.detail {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ver-nuestras {
    color: #111827;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.form-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 588px;
    height: 552px;
    padding: 32px 32px 32px 48px;
}

form {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.labels {
    color: #374151;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.tel-tel{
    display: flex;
}
.tel-input{
    width: 470px;
    height: 34px;
    padding: 9px 13px 9px 60px;
    border-radius: 6px;    
    background: transparent;
    position: relative;
    right: 40px;
}
select{
    position: relative;
    left: 8px;
    background: transparent;
    border: none;
    outline: none;
    z-index: 10;
}

.inputs {
    width: 470px;
    height: 34px;
    padding: 9px 13px;
    border-radius: 6px;

    display: flex;
}
.inp{
    border: 1px solid #D1D5DB;
}
.inp:focus{
    border: 2px solid #3F8F6B;
    outline: #3F8F6B;
}


textarea {
    width: 470px;
    height: 122px;
    resize: vertical;
    max-height: 150px;
}
.escribe{
    padding-bottom: 4px;
    
}

.form-acepto {
    display: flex;
    gap: 12px;
}

.form-acepto>p {
    color: #374151;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.a-de-acepto {
    color: #374151;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

.check-acepto {
    width: 16px;
    height: 16px;
}

.btn-enviar {
    color: white;
    padding: 12px 24px;
    background-color: #2A5B45;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

/*----FOOTER----*/

.footer {
    width: 100%;
    background-color: #1F1815;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

.footer-content {
    padding-top: 29px;
    width: 1200px;

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 16px;
}

.links-contact {
    width: 1132px;
    height: 152px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacto {
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.contacto>h3 {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.btn-contacto {
    border: none;
    border-radius: 4px;
    background: #515051;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-contacto>p {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.menu-footer {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-footer a {
    text-decoration: none;
    color: white;
}

.marg1 {
    position: relative;
    left: 45px;
}

.marg2 {
    width: 255px;
    position: relative;
    top: 3px;
    right: 77px;
    bottom: 69px;
}

.footerDelFooter {
    width: 1280px;
    height: 40px;
    padding: 12px 380px 12px 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerDelFooter>p {
    width: 359px;
    height: 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}