@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Pixelify+Sans&family=Playfair+Display&display=swap');

:root {
    --Grey: #515051;
    --gray-300: #D1D5DB;
    --gray-500: #6B7280;
    --gray-700: #374151;
    --Dark-grey: #2B2A2B;
    --Black: #1F1815;
    --Real-Black: #000;
    --black-p: #111827;
    --Taupe: #E3DED7;
    --Green: #2A5B45;
    --Green-a: rgba(42, 91, 69, 0.70);
    --Green-b: rgba(42, 91, 69, 0.10);
    --Off-white: #F7F5F3;
    --hover-nav: rgba(247, 245, 243, 0.10);
    --hover-inp: #9B9EA3;
    --focus-inp: #3F8F6B;

    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*----Header----*/

header {
    width: 100%;
    color: var(--white);
    background-color: var(--Dark-grey);
    display: flex;
    justify-content: center;
}

.header-content {
    width: 1280px;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-cont {
    width: 288px;

    display: flex;
    align-items: center;
    gap: 7.33px;
    text-decoration: none;
}

.logo {
    color: var(--white);
    font-size: 23.463px;
    font-weight: 400;
    line-height: 35.194px;
}

.nav-bar {

    list-style-type: none;
    display: flex;
    gap: 16px;
}

.nav-btn {
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--white);
}

.nav-btn:hover {
    background-color: var(--hover-nav);
}

.tel-btn-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.log-nro {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nro-tel {

    border: none;
    color: var(--white);
    background-color: transparent;
}

.btn-log {
    color: var(--white);
    background: var(--Grey, #515051);
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
}

.bag {
    padding: 2px 3px;

    display: flex;
    gap: 8px;
}

svg {
    width: 24px;
    height: 24px;
}

.bag>span {
    width: 24px;
    height: 24px;
    border-radius: 200px;
    padding: 8px;
    color: var(--white);
    background: var(--hover-nav);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*----Hero----*/

.hero {
    width: 1280px;
    padding: 48px 40px;
    display: flex;
}

.hero-content {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.hero-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-txt h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: var(--Green);
}

.hero-txt h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}

.hero-txt p {
    color: var(--black-p);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.botones {
    display: flex;
    gap: 16px;
}

.hero-txt button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: var(--white);
}

.hero-txt button:first-child {
    background-color: var(--Black);
}

.hero-txt button:last-child {
    background-color: var(--Green);
}

.hero-img {
    width: 100%;
    height: 390px;
    border-radius: 20px;
    background: url(./assets/hero-img.jpeg);
    background-size: cover;
}

/*----CARDS----*/

.cards {
    width: 1280px;
    padding: 48px 147px;
    background: url(./assets/background-cards.jpeg) lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.cards>h2 {
    color: var(--white);
    font-weight: 500;
    line-height: 28px;

}

.cards-content {
    width: 996px;
    display: flex;
    gap: 24px;
}

.card {
    width: 100%;
    padding: 24px;
    border: 1px solid var(--Off-white);
    border-radius: 8px;
    box-shadow: 0px 1px 4px 0px rgba(227, 222, 215, 0.80);
    background: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.img-card {
    width: 64px;
    height: 64px;
    padding: 12px;
    border-radius: 20px;
    background: var(--Green);
}

.card h3 {
    color: var(--Dark-grey);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.card p {
    text-align: center;
    color: var(--black-p);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

/*----CAFE-CARDS----*/

.cafe-cards {
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cafe-cards h2 {
    color: var(--Green);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.cafe-content {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.product-card {
    width: 282px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--Taupe);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.agotado {
    opacity: 0.4;
}

.card-hover:hover {
    background-color: var(--Off-white);
}

.card-hover:hover .añadir {
    background-color: var(--Green);
    cursor: pointer;
}

.img-cafe {
    width: 219px;
    height: 219px;
}

.product-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.product-price :first-child {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.product-price :last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.añadir {
    padding: 8px;
    color: var(--white);
    background-color: var(--Green-a);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.btn-agotado {
    background-color: var(--Taupe);
}

.verTodos {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.verTodos a {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: var(--Real-Black);
}

/*----FAQ----*/

.faq {
    width: 1280px;
    background-color: var(--Green);
    padding: 48px 386px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.faq>h2 {
    color: var(--white);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.faq-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-cards {
    padding: 24px;
    background: var(--white);
    border-radius: 10px;
    width: 668px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-title {
    display: flex;
    justify-content: space-between;
}

.faq-title>h3 {
    color: var(--Dark-grey);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.flechaInvert {
    transform: scaleY(-1);
}

.faq-cards span {
    width: 100%;
    height: 1px;
    background: var(--Taupe);
}

.faq-cards p {
    color: var(--Dark-grey);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.faq-next {
    display: flex;
    align-items: center;
    gap: 16px;
}

.faq-next a {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: var(--white);
}

/*----FEATURE----*/

.feature {
    height: 480px;
    padding: 45px 40px;

    display: flex;
    justify-content: center;
}

.feature-content {
    width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-left {
    width: 457px;
    height: 116px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.feature-left>h2 {
    color: var(--Green);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.feature-left>p {
    color: var(--black-p);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.comoLlegar {
    width: 118px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.comoLlegar>a {
    display: flex;
    color: var(--Real-Black);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.feature-right {
    width: 588px;
    height: 390px;
    border-radius: 20px;
    background: url(./assets/cooffe-shop.jpeg) lightgray 50%;
    background-size: cover;

}

/*----FORMULARIO----*/

.formulario {
    width: 1280px;
    height: 552px;
    background: var(--Taupe);
    display: flex;
    justify-content: center;
}

.formulario-content {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.form-left {
    width: 558px;
    height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.form-left-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-left-header>h3 {
    color: var(--black-p);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.form-left p {
    color: var(--gray-500);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.form-left-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-left-detail {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.detail {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ver-nuestras {
    color: var(--black-p);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.form-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    width: 588px;
    height: 552px;
    padding: 32px 32px 32px 48px;
}

form {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.labels {
    color: var(--gray-700);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.tel-tel {
    display: flex;
}

.tel-input {
    width: 470px;
    height: 34px;
    padding: 9px 13px 9px 60px;
    border-radius: 6px;
    background: transparent;
    position: relative;
    right: 40px;
}

select {
    position: relative;
    left: 8px;
    background: transparent;
    border: none;
    outline: none;
    z-index: 10;
}

.inputs {
    width: 470px;
    height: 34px;
    padding: 9px 13px;
    border-radius: 6px;

    display: flex;
}

.inp {
    border: 1px solid var(--gray-300);
}

.inp:hover {
    border: 1px solid var(--hover-inp);
}

.inp:focus {
    border: 2px solid var(--focus-inp);
    outline: var(--focus-inp);
}


textarea {
    width: 470px;
    height: 122px;
    resize: vertical;
    max-height: 150px;
}

.escribe {
    padding-bottom: 4px;

}

.form-acepto {
    display: flex;
    gap: 12px;
}

.form-acepto>p {
    color: var(--gray-700);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.a-de-acepto {
    color: var(--gray-700);
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

.check-acepto {
    width: 16px;
    height: 16px;
}

.btn-enviar {
    color: var(--white);
    padding: 12px 24px;
    background-color: var(--Green);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

/*----FOOTER----*/

.footer {
    width: 100%;
    background-color: var(--Black);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

.footer-content {
    padding-top: 29px;
    width: 1200px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links-contact {
    width: 1132px;
    height: 152px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacto {
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.contacto>h3 {
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.btn-contacto {
    border: none;
    border-radius: 4px;
    background: var(--Grey);
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-contacto>p {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.menu-footer {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-footer a {
    text-decoration: none;
    color: var(--white);
}

.marg1 {
    position: relative;
    left: 45px;
}

.marg2 {
    width: 255px;
    position: relative;
    top: 3px;
    right: 77px;
    bottom: 69px;
}

.footerDelFooter {
    width: 100%;
    height: 40px;
    padding: 12px 12px;
    background-color: var(--Dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerDelFooter>p {
    width: 359px;
    height: 16px;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.footerCart {
    
}

.hidden {
    display: none;
}

/*----Carrito----*/

.carrito-content {
    width: 1280px;
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.carrito-content h2 {
    color: var(--Green);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.cesta-content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.products-cart {
    padding: 8px;
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 24px;

}

.cart-products {
    padding: 8px;
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 24px;
}

.envio {
    display: flex;
    gap: 16px;
}

.envioGratis,
.envioUrgente {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.total-content {
    height: fit-content;
    background-color: var(--Off-white);
    padding: 24px;
    display: flex;
    gap: 16px;
    flex: 1;
    flex-direction: column;
}

.producto {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.producto-cantidad {
    display: flex;
    align-items: center;
    gap: 8px;
}

.counter {
    background-color: var(--Green-b);
    color: var(--Green);
    width: 24px;
    height: 24px;
    border-radius: 200px;
    padding: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.description {
    width: 506px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.divisor {
    height: 1px;
    background: var(--Taupe);
}

.imgCartCafe {
    width: 55px;
    height: 55px;
}

.subtotal,
.enviogratis,
.totaltotal {
    display: flex;
    justify-content: space-between;
}

.total90 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.newBtn {
    color: var(--Green);
    padding: 12px 24px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}